body {
    font-family: 'Inter', sans-serif;
}

.top-banner {
    background-image: url(images/donation16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: 70px;
}

#paragraph {
    font-size: 15px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-shadow: 70px;
}

.donate {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 121, 116), #ff1e1e);
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: 42%;
    position: relative;
    top: 30px;

}

#scale {
    margin-left: 40.5%;
    margin-top: 50px;
}

.header-2 {
    padding-top: 25%;
    padding-left: 1%;
    text-align: center;
    font-size: 45px;
}

.flexible-container {
    display: flex;
}

.amount {
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#red-box {
    color: #ff5959;
    background-color: #ffe1e1;
    border: 2px solid rgb(255, 104, 104);
    border-radius: 2px;
}

.amount-input {
    color: rgb(230, 230, 230);
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
    margin-top: 5%;
    margin-left: 19%;
    border-bottom: 1px solid grey;
    padding-left: 20%;
    padding-right: 20%;
}

#header-3 {
    color: black;
    margin-right: 1%;
}

#paragraph-3 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.donation-plan {
    width: 50%;
    margin: 2%;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    background-color: rgb(199, 255, 199);
}

h2 {
    position: relative;
    top: 40%;
}

#box1 {
    background-image: url(icons/food.png);
    background-color: rgb(199, 255, 199);
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

#box2 {
    background-image: url(icons/shelter.png);
    background-color: rgb(255, 194, 217);
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

#box3 {
    background-image: url(icons/Frame-1.png);
    background-color: rgb(255, 229, 182);
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

.donation-section {
    margin-left: 10%;
    margin-right: 10%;
}

.donation-paragraph {
    position: relative;
    top: 40%;
}

.more-features {
    width: 30%;
    padding-left: 11%;
    padding-top: 5%;
}

.join-now {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 121, 116), #ff1e1e);
    color: white;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 20px;
}

.form-background {
    background-color: rgb(220, 255, 190);
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 25px;
    margin-bottom: 10%;
}

#email {
    background-color: rgb(255, 253, 253);
    border: 0;
    margin-left: 23%;
    line-height: 2.3;
    padding-left: 2%;
    outline: none;
}

.subscribe-button {
    text-decoration: none;
    padding: 7px 10px;
    background-image: linear-gradient(rgb(255, 121, 116), #ff1e1e);
    color: white;
    font-weight: 700;
    text-align: right;
    position: relative;
    left: 446px;
    bottom: 107px;
    resize: none;
}

.footer-style {
    background-color: black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer-text {
    font-family: 'Lobster', cursive;
    color: rgb(255, 149, 149);
}